<div class="login-status-header">
  <div *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
    <i class="fa-solid fa-door-open"></i>Welcome back {{ userFullName }}!
  </div>

  <button *ngIf="!isAuthenticated" routerLink="/login" class="security-btn">
    <i class="fa-solid fa-user"></i> Login
  </button>
  <button *ngIf="isAuthenticated" (click)="logout()" class="security-btn">
    <i class="fa-solid fa-user mr-4 fa-sm"></i> Logout
  </button>
  <button
    *ngIf="isAuthenticated"
    routerLink="/members"
    id="member-btn"
    class="security-btn ml-2"
  >
    Member
  </button>
  <button
    *ngIf="isAuthenticated"
    routerLink="/order-history"
    id="member-btn"
    class="security-btn ml-2"
  >
    <i class="fa-solid fa-bag-shopping fa-sm"></i>
    Orders
  </button>
</div>
